html {
  font-family: 'Roboto',sans-serif; /* 1 */
   color: #fff;
   display: table;
   text-align: center;
   background-color: teal;
   animation: background 25s ease-in-out infinite;
   width: 100%;
   font-size: 100%;
}


@keyframes background {
      0%{background-color: skyblue}
      50%{background-color: skyblue}
      100%{background-color: skyblue}
      
}
body {
	margin: auto;
	width: 50%;
	display: table-cell;
    vertical-align: middle;
    margin: 2em auto;
}
.fpSlideshowParent{

}
.fpSlideshowContainer {
	display: block;
	height: auto;
	position: relative;
	overflow: hidden;
	padding: 34.37% 0 0 0; /* 34.37% = 100 / (w / h) = 100 / (640 / 220) */
	width: 50%;
	border-radius: 10px;
	/* box-shadow: 1px 1px 10px #000; */
	margin: auto;
	margin-top: 1%;
    margin-bottom: 1%;
}

.fpSlideshow {

}
.fpSlideshowContainer img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
#slideshow {
     margin: 50px auto;
     position: relative;
     width: 700px;
     height: 525px;
     padding: 10px;
     box-shadow: 1px 1px 10px #000;
     border-radius: 10px;
}

#slideshow > div {
     position: absolute;
     top: 10px;
     left: 10px;
     right: 10px;
     bottom: 10px;
}
 .playbutton {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    align-self: center;
}
.playbutton:hover {
    opacity: 0.3;
}
.vidwrap {
  display: flex;
  justify-content: center;
  width:50%;
  margin: 0 auto;
  height:390px;
  box-shadow: 0px 0px 10px #000;
  width:700px;
  background: black url('source/newlogolightblue.png') no-repeat center;
  background-size: cover;
  overflow:hidden;
  cursor:pointer;
  border-radius: 10px;
}
.containerP {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  filter: grayscale(100%);
  transition: all 0.5s ease;
}
.containerP:hover {
  border-radius: 10%;
  filter: grayscale(0%);
}
a:link {
	color: #c81904;
	text-decoration:none;
  font-weight:bold;
}
a:visited {
	color: #c81904;
	text-decoration:none;
  font-weight: bold;
}
.article {
  width: 100%;
  box-shadow: 1px 1px 10px #000;
  color: white;
  background-color: #5B8DBF;
  padding: 10px;
  border-radius: 10px;
  margin: 0 auto;
  width: 900px;
  color: #fff;
  margin-bottom: 4%;
  margin-top: 4%;
}
.article table {
	border-radius: 10px;
	padding: 10px;
	
}
.article td {
	/* background-color: black; */
	border-radius: 20%;
	/* width: 14.28%; */
}
p {
	text-align: center;
	margin: auto;
	box-shadow: 0 0 20px 1px black;
    border-radius: 10px;
	padding: 10px;
	background-color: black;
}
table {
  box-shadow: 1px 1px 10px #000;
  color: white;
  background-color: black;
  width: 100%;
}
td {
	text-align: center;
}
.articleembed {
	width: 90%;
	height: auto;
	margin: 0 auto;
	border-radius: 2%;
	margin: 4%;
}
.rostertable {
	width: 80%!important;
}
.tableG {
  color: white;
  width: 100%;
  padding: 1%;
  text-align: center;
  vertical-align: middle!important;
  box-shadow: 0px 10px 20px 0px black;
  width: 100%;
}
.navButton {
   background: darkred;
   color: white;
   font-size: 25px;
   vertical-align: middle;
   padding: 2px 9px;
   box-shadow: 1px 1px 10px #000;
   margin: 5px;
   border-radius: 10px;
   transition: all 0.2s ease;
}
.navButton:hover {
   background: #891000;
   color: #ccc;
   box-shadow: 1px 1px 10px #891000;
}
.navButton:active {
   background: #891000;
}
.centerstuff {
	text-align: center;
}
h1 {
	color: #E5E5E5;
    font-size: 2em;
    font-weight: 400;
}
h2 {
  color: #E5E5E5;
  font-weight: 400;
}
h3 {
  color: #E5E5E5;
  font-weight: 4;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.3);
  color: white;
  text-align: center;
}

@media(max-width:60em){html{font-size: 200%!important;}}
@media(max-width:60em){.article{width: 100%!important;}}
@media(max-width:60em){table{width: 100%!important; font-size: 100%!important;}}
@media(max-width:60em){p{width: 100%!important; padding: 1%!important;}}
@media(max-width:60em){.navButton{font-size: 50px; display: block!important;}}
