#slideshow {
     margin: 50px auto;
     position: relative;
     width: 700px;
     height: 525px;
     padding: 10px;
     box-shadow: 1px 1px 10px #000;
     border-radius: 10px;
}
#slideshow > div {
     position: absolute;
     top: 10px;
     left: 10px;
     right: 10px;
     bottom: 10px;
}
 .playbutton {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    align-self: center;
}
.playbutton:hover {
    opacity: 0.3;
}
.vidwrap {
  display: flex;
  justify-content: center;
  width:50%;
  margin: 0 auto;
  height:390px;
  box-shadow: 0px 0px 10px #000;
  width:700px;
  background: black url('source/newlogolightblue.png') no-repeat center;
  background-size: cover;
  overflow:hidden;
  cursor:pointer;
  border-radius: 10px;
}
.containerP {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  filter: grayscale(100%);
  transition: all 0.5s ease;
}
.containerP:hover {
  border-radius: 10%;
  filter: grayscale(0%);
}
html {
  font-family: 'Roboto',sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
   color: #fff;
   display: table;
   height: 100%;
   text-align: center;
   width: 100%;
   background: linear-gradient(to bottom right, grey, black); /* Standard syntax */
}
a:link {
	color: #891000;
	text-decoration:none;
  font-weight:bold;
}
a:visited {
	color: #891000;
	text-decoration:none;
  font-weight: bold;
}
p {
  box-shadow: 1px 1px 10px #000;
  color: white;
  background-color: #5B8DBF;
  padding: 10px;
  border-radius: 10px;
}
table {
  box-shadow: 1px 1px 10px #000;
  color: white;
  background-color: #5B8DBF;
  border-radius: 10px;
}
td {
  text-align: center;
  margin: 2vw;
}
.tableG {
  box-shadow: none;
  color: white;
  background-color: transparent;
  width: fit-content;
  /* border-radius: 1px; */
}
.navButton {
   background: #00275B;
   color: white;
   font-size: 25px;
   vertical-align: middle;
   padding: 2px 9px;
   box-shadow: 1px 1px 10px #000;
   margin: 5px;
   border-radius: 10px;
   transition: all 0.2s ease;
}
.navButton:hover {
   background: #891000;
   color: #ccc;
   box-shadow: 1px 1px 10px #891000;
}
.navButton:active {
   background: #891000;
}
.centerstuff {
	text-align: center;
}
.pagewrap {
  width: 800px;
  margin: 0 auto;
  background-color: #00275B;
  box-shadow: 1px 1px 10px #000;
  border-radius: 3px;
}
.pagewrapwrap {
  box-shadow: 0px 0px 10px #000;
  background-color: #959595;
  margin: 0 auto;
  width: fit-content;
  border-radius: 10px;
}
body {
    display: table-cell;
    vertical-align: middle;
    margin: 2em auto;
}
p{
    margin: 0 auto;
    width: 750px;
		color: #fff;
}
h1 {
		color: #E5E5E5;
    font-size: 2em;
    font-weight: 400;
}
h2 {
  color: #E5E5E5;
  font-weight: 400;
}
h3 {
  color: #E5E5E5;
  font-weight: 4;
}
